.destroyed{
    filter: saturate(0);
}

.team1, .team2{
    display: flex;
    justify-content: center;
    position: relative;
}

.team1{
    margin-top: 55px;
    margin-right: 12px;
}

.team2{   
    margin-top: 270px;
    margin-right: 15px;
}

body{
    display: flex;
    position: relative;
    justify-content: center;
}

.class{
    width: 122px;
}

.field{
    position: absolute;
    width: 100%;
    height: 100%;
}

.background{
    width: 1200px;
    z-index: 0;
    height: 720px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.hp1, .hp2{
    position: absolute;
    padding-top: 132px;
    font-size: 120%;
    z-index: 10;
    
    padding-left: 116px;
    font-weight: 600;
    text-shadow: red 0 0 5px;
}

.hp{
    width: 70px;
    position: absolute;
    padding-top: 105px;
    padding-left: 116px;
    font-weight: 600;
}

label{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card{
    width: 100px;
    position: relative;
    padding-top: 560px;
}

.cards, 
.opponents_cards{
    display: flex;
    margin-top: 5px;
    margin-right: 570px;
    justify-content: center;
    position: absolute;
}

.opponents{
    position: relative;
    width: 100px;
}

.opponents_cards2, .cards2{
    display: flex;
    margin-top: 5px;
    margin-left: 570px;
    justify-content: center;
    position: absolute;
}

.card_button{
    height: 140px;
    width: 90px;
    margin: 5px;
    

    background: none;
}
